#include <stdio.h>

struct temple {
    char name[10];
    int number;
    float pay;
    int hours;
};

int main() {
   
    struct temple t[6];
    for (int i = 0; i < 6; i++) {
        printf("Enter the name for person %d: ", i+1);
        scanf("%s",&t[i].name);
        printf("Enter the number for person %d: ", i+1);
        scanf("%d", &t[i].number);
        printf("Enter the pay for person %d: ", i+1);
        scanf("%f",&t[i].pay);
        printf("enter hours");
        scanf("%d",&t[i].hours);
    }

   
}
 
